DISCORD_TOKEN=
DISCORD_APP_ID=
DISCORD_GUILD_ID=

DMAREBRANDS_API_KEY=
DMAREBRANDS_API_BASE=https://api.dmarebrands.st/v1

ROLES_ADMIN=
ROLES_KEYS=
ROLES_HWID=
ROLES_BILLING=
ROLES_SUPPORT=
ROLES_READ=

LOG_CHANNEL_ID=
EPHEMERAL=true
